name: "Release New Version"

on:
  workflow_dispatch:
    inputs:
      localRef:
        description: 'Local branch to use'
        required: true
      remoteRef:
        description: 'Remote branch or tag to pull'
        required: true

jobs:
  create-release:
    runs-on: macos-26
    name: Create Release
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.localRef }}
        fetch-depth: 0
    - name: Setup SSH Keys
      uses: webfactory/ssh-agent@v0.7.0
      with:
        ssh-private-key: |
          ${{ secrets.APOLLO_IOS_DEPLOY_KEY }}
          ${{ secrets.APOLLO_IOS_XCFRAMEWORK_DEPLOY_KEY }}
    - name: Update Subtree
      shell: bash
      run: |
        git subtree pull -P apollo-ios git@github.com:apollographql/apollo-ios.git ${{ github.event.inputs.remoteRef }} -m "Pulling '${{ github.event.inputs.remoteRef }}' from apollo-ios for release."
    - name: Run Tuist Generation
      uses: ./.github/actions/run-tuist-generation
    - name: Commit and Push Changes
      shell: bash
      run: |
        git add -A
        git commit --allow-empty -m "Releasing new version based on '${{ github.event.inputs.remoteRef }}' of apollo-ios repo."
        git push
        git tag ${{ github.event.inputs.remoteRef }}
        git push --tags